.error {
    color: red;
}

.button {
    width: 5rem;
    height: 3rem;
    background-color: lightgray;
    color: gray;
    border: none;
    cursor: pointer;
    font-size: 1.55rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
