.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 8rem;
    margin: auto;
}

.btn {
    width: 5rem;
    height: 3rem;
    background-color: lightgray;
    color: gray;
    border: none;
    cursor: pointer;
}

.btn:link,
.btn:visited {
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
}
